column-width = 80px
gutter-width = 20px
columns = 6

@import grid;
@import 'nib/reset';

global-reset()

// px
$regular = 16
$row_height = 20

// ratios
$x-large = 3.75
$larger = 1.95
$large = 1.15
$small = 0.75

$row_ratio = ($row_height / $regular)

// palette

$black = #121212
$white = #fafafa
$red = rgb(153, 0, 0)

@font-face
	font-family:'Istok Web';
	font-style: normal;
	font-weight: 700
	src: local('fnt/Istok Web Bold'),local('fnt/IstokWeb-Bold'),url(fnt/Istok_700.ttf) format('truetype')

@font-face 
	font-family:'Alegreya Sans SC'
	font-style: normal
	font-weight: 800
	src: local('fnt/Alegreya Sans SC ExtraBold'),local('fnt/AlegreyaSansSC-ExtraBold'),url(fnt/Alegreya_800.ttf) format('truetype')

html
	font-family: 'Lucida Grande', Verdana, Geneva, Arial, sans-serif
	font-size: ($regular)px

h1
	font-size: ($x-large)em
	line-height: (3 * $row_ratio / $x-large)
	margin: unit($row_ratio / $x-large, 'em') 0
	text-transform: uppercase
	font-family: 'Alegreya Sans SC', sans-serif

h2
	font-size: ($large)em
	line-height: ($row_ratio / $large)
	margin: unit($row_ratio / $large, 'em') 0
	font-family: 'Istok Web', sans-serif
	letter-spacing: -.02em

h3
	font-size: ($larger)em
	line-height: (2 * $row_ratio / $larger)
	margin: unit($row_ratio / $larger, 'em') 0
	font-family: 'Istok Web', sans-serif
	text-transform: lowercase

p, li
	font-size: ($regular)px
	line-height: $row_ratio
	margin: unit($row_ratio, 'em') 0

a
	text-decoration: none
	color: $red

body
	margin: 0
	padding: 0
	background: $black url(img/zwartevilt.png)
	color: $black
	padding-bottom: unit($row_ratio * 3, 'em')
	position: relative
	
div#wrapper
	width: total-width
	margin: unit($row_ratio * 5, 'em') auto 0 auto

	nav#main
		column(6)
		background-color: rgba(lighten($black, 40%), 0.5)

		ul
			display: table
			margin: 0 auto
			color: darken($white, 20%)
			li
				display: table-cell
				padding: unit($row_ratio / 2, 'em') 0
				text-transform: lowercase
				a
					color: darken($white, 20%)
				/* &:before
					content: "\2008\2014\2009"
				&:first-child:before
					content: "" */
				&:before
					content: "\2008/ "
				&:first-child:before
					content: none

	header
		text-align: center
		background: $white
		column(6)

		p
			font-style: italic
			&:before
				content: "\2013\2009"
			&:after
				content: "\2009\2013"

		#logo
			display: inline-block
			text-indent: -99999px
			background: transparent url(img/logo.png) no-repeat
			width: 285px
			height: 285px

		a
			color: darken($red, 50%)

	section
		column(6)
		background: $white
		margin-top: unit($row_ratio * 3, 'em')

		&#meetings
			background-image: url(img/manchester_map.png)

		&#contact
			background-image: url(img/los_Wobblies_de_Chile.jpg)

		&#links
			background-image: url(img/no_war_but_the_class_war.jpg)

		h3
			padding: 0 unit($row_ratio / $larger, 'em')

		p
			padding: 0 unit($row_ratio, 'em')

		ul
			list-style-type: disc
			padding: 0 unit($row_ratio, 'em')
			margin: unit($row_ratio, 'em') unit($row_ratio, 'em')

			li
				margin: 0

		nav.top
			width: 100%
			text-align: right
			background-color: rgba(darken($white, 40%), 0.5)
			font-style: italic
			font-size: ($small)em
			line-height: ($row_ratio / $small)
			
			a
				display: inline-block
				margin: unit($row_ratio / 4 * $small, 'em') unit($row_ratio / $small, 'em')

p#copyright
	position: absolute
	right: unit($row_ratio * 1, 'em')
	bottom: 0
	color: $white
	font-size: ($small)em
